.navbar{
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgb(8, 0, 255);
	
}
h1{
	margin-left: 20px;
	font-family: 'Brush Script MT';
	font-size: 70px;
}
.texto-menu{
	font-size: 30px;
	color: white;
	background-color: red;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
.nav-link{
	color: rgb(255, 255, 255);
	font-size: 18px;
	margin-left: 20px;
}
.apres{
	background-color:blue;
	padding-top: 20px;
	padding-bottom: 20px;

	margin-left: 1.5%;
	margin-right: 1.5%;
	border-radius: 10px;
}
.imagperf{
	padding-left: 5px;
}
.imagem-apres{
	border-radius: 20px;
}
p{
	font-size:20px;
	color: rgb(255, 255, 255);
}
.navbar-nav{
	margin-left: 20px;
	background-color: rgb(0, 0, 210);
	padding: 6px;
	border-radius: 15px;
}



/*CSS para as calculadoras*/

#saida{
	font-size: 25px;
	width: 100%;
	resize: none;
	border-radius: 10px;
	padding-left: 20px;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}
.botaocalc{
	font-size: 150%;
	background-color: yellow;
}

.calculadora{
	background-color: rgb(0, 0, 255);
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	margin-left: 1.5%;
	padding-right: 10px;
	border-radius: 10px;
	width: 85%;
}
.inputs-calc{
	padding-top: 10px;
	padding-left: 20px;
	background-color: rgb(0, 0, 141);
	border-radius: 10px;
	
}
body{
	background-color: yellow;
}
.botaopesquisa{
	background-color: yellow;
}